.btn {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height: fit-content;
    justify-content: space-between;
    color: #fff;
    padding: 1.5rem;
    background: transparent;
    border: none;

}

.btn> span {
    font-size: 1.3rem;
    font-weight: 700;
    text-align: start;
}

.btn>.icon {
    align-self: self-end;
    width: 18px;
    height: 18px;
    color: #fff;

}

.acordeon {
    display: flex;
    flex-direction: column;
    border: .1px solid #525151;
    border-radius: 30px;
    -webkit-border-radius: 1.45rem;
    -moz-border-radius: 1.45rem;
    -ms-border-radius: 1.45rem;
    -o-border-radius: 1.45rem;
}



.acordeon .sub_content {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity .25s ease-in-out;


}

.acordeon.open .sub_content {
    display: block;
    padding: 0 1rem 1rem 2rem;
    height: auto;
    opacity: 1;
}

.acordeon.open .icon {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  color: #fff;
}

.acordeon.open,
.acordeon:hover {
    background-color: #55569E;
    border-color: #55569E;

}

.acordeon .btn:hover {
    cursor: pointer;
}


@media screen and (min-width: 576px) {
    .btn > span {
        font-size: 1.3rem;
        font-weight: 700;
        text-align: start;
    }
}

@media screen and (min-width: 768px) {
    .btn > span {
        font-size: 1.5rem;
        font-weight: 700;
        text-align: start;
    }

    .btn .icon {
        align-self: self-end;
        width: 24px;
        height: 24px;
        color: #fff;


    }

}