* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #000;
    font-family: 'Open Sans', sans-serif;
    color: #fff;

}



.main {
    display: flex;
    flex-direction: column;
    margin: 15vh auto;
    padding: 3vw;
    gap: 2vw;
    width: 95vw;
    height: auto;
    border: .1px solid #525151;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.main::before,
.main::after {
    content: '';
    background-image: url('../images/background.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 140vw;
    height: 100vh;
    z-index: -1;
}

.main::after {
    content: '';
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}



.section_title {
    font-size: 2vw;
}

@media screen and(min-width: 576px) {
    .main {
        display: flex;
        flex-direction: column;
        margin: 15vh auto;
        padding: 3vw;
        gap: 2vw;
        width: 85vw;
        height: auto;
    }

}

@media screen and (min-width: 768px) {
    .main {
        display: flex;
        flex-direction: column;
        margin: 15vh auto;
        padding: 4vw;
        gap: 3vw;
        width: 75vw;
        height: auto;
    }


}

@media screen and(min-width: 992px) {

    .main {
        display: flex;
        flex-direction: column;
        margin: 15vh auto;
        padding: 4vw;
        gap: 3vw;
        width: 65vw;
        height: auto;
    }

}

@media screen and (min-width: 1200px) {

    .main {
        display: flex;
        flex-direction: column;
        margin: 15vh auto;
        padding: 3vw;
        gap: 4vw;
        width: 55vw;
        height: auto;
    }

}

@media screen and(min-width: 1400px) {
    .main {
        display: flex;
        flex-direction: column;
        margin: 15vh auto;
        padding: 2vw;
        gap: 4vw;
        width: 50vw;
        height: auto;
    }


}