.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    max-width: 800px;

}

.header > .photo {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
}

.my-photo {
    width: 15.375rem;
    height: 15.375rem;
    border-radius: 50%;
}

.header > .primaryData {
    display: flex;
    flex-direction: column;
    
    
}

.header > .primaryData > ul {
    list-style: none;
    line-height: 1.685rem;
    display: flex;
    flex-direction: column;
}

.header > .primaryData > ul > li > a {
    text-decoration: none;
    color:#fff;

}

.header > .primaryData > .data-list {
      font-weight: 600;
      font-style: italic;
      color: beige;
      padding-right: .8rem;
      width: 3rem;
      height: 3rem;
      

}


@font-face {
    font-family: Neue Machina;
    src: url(/portfolio-v3/assets/fontes/NeueMachina-Regular.otf);
}
.title {
    font-family: 'Neue Machina', sans-serif;
    font-size: 1.8rem;
}