.portfolio-sub-content {
      display: flex;
      flex-direction: column;
      max-width: 100%;
      height: auto;
      padding: 3rem;
      gap: 1.685rem;

}

.portfolio-sub-content > .portfolio {
       list-style: none;
       display: flex;
       flex-direction: column;
       line-height: 5rem;
}

.portfolio-sub-content > .portfolio > .project a {
      text-decoration: none;
      color: beige;
      }
      
      .portfolio li h3.github::before {
            content: "";
            display: inline-block;
            width: 2rem;
            height: 2rem;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url('../images/icons/github.svg');
            margin-right: .5rem;
        }