.portfolio-sub-content {
      display: none;
      flex-direction: column;
      max-width: 100%;
      height: auto;
      padding: 3rem;
      gap: 1.685rem;

}

.portfolio-sub-content > .project-name {
      text-align: center;

}

.portfolio-sub-content > .project-url {
       text-align: center;

}

.portfolio-sub-content > .project-url a {
    color: #fff;
    text-decoration: none;
}