.portfolio-sub-content {
      display: flex;
      flex-direction: column;
      max-width: 100%;
      height: auto;
      padding: 3rem;
      gap: 1.685rem;

}

.portfolio-sub-content > .portfolio {
       list-style: none;
       display: flex;
       flex-direction: column;
       line-height: 5rem;
}

.portfolio-sub-content > .portfolio > .project a {
      text-decoration: none;
      color: beige;
      }
      