.skills {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 1rem;

}


.hardSkills {
    width: 100%;
    height: auto;
    padding: 1rem;
    


}

.softSkills {
    width: 100%;
    height: auto;
    padding: 1rem;
}

.hardSkills h2 {
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
}



.softSkills h2 {
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
}

.imgSkills {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 0 1rem;
    margin: 2rem 0;
    gap: 1rem;

}

.hardSkillsImg {
    width: 3rem;
    height: auto;

}

.listSoftSkills {
    list-style: disc;
    line-height: 1.2rem;
    font-size: 1rem;
    margin: 2rem 1rem;
    

}

@media screen and (min-width: 576px) {
    .hardSkillsImg {
        width: 5rem;
        height: auto;
    }

    .listSoftSkills {
        font-size: 1.2rem;
        margin: 2rem 5rem;
        line-height: 1.2rem;

    }

    .softSkills h2 {
        font-weight: 700;
        font-size: 1.5rem;
        text-align: center;
    }

}

@media screen and (min-width: 768px) {

    .skills {
        display: flex;
        flex-direction: row;
        margin: auto;

    }

    .hardSkills .softSkills {
        width: 50%;
        height: auto;
        padding: 1rem;



    }

    .hardSkillsImg {
        width: 3rem;
        height: auto;

    }

    .imgSkills {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 3rem;
        gap: 2rem;


    }

    .listSoftSkills {
        list-style: disc;
        line-height: 2rem;
        font-size: .9rem;
        padding-top: 3rem;
        margin: 0 auto;


    }

    .hardSkills h2 {
        font-weight: 700;
        font-size: .975rem;
        text-align: center;
    }

    .softSkills h2 {
        font-weight: 700;
        font-size: .975rem;
        text-align: center;
    }

}



@media screen and (min-width: 1024px) {

    .hardSkillsImg {
        width: 5rem;
        height: auto;

    }

    .imgSkills {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 5rem;
        gap: 2.5rem;

    }

    .listSoftSkills {
        list-style: disc;
        line-height: 2rem;
        font-size: 1rem;
        padding-top: 5rem;
        padding-left: 6rem;

    }

    .hardSkills h2 {
        font-weight: 700;
        font-size: 1.1rem;
        text-align: center;
    }

    .softSkills h2 {
        font-weight: 700;
        font-size: 1.234rem;
        text-align: center;
    }

}