
.skillsSubContent {
     display: flex;
     flex-direction: row;
     width: 100%;
     height: auto;
}
.hardSkills {
        width: 50%;
        height: auto;
        gap: .65rem;
        padding: 1.233rem;
}

.hardSkills > h2 {
    font-weight: 700;
    font-size: 1.234rem;
}

.imgSkills {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.li_img {
    padding: 3rem;

}

.hardSkillsImg {
    width: 5rem;
    height: auto;

}



.softSkills {
        width: 50%;
        height: auto;
        gap: .65rem;
        justify-content: center;
        padding: 3rem;
}
.softSkills  h2 {
    font-weight: 700;
    font-size: 1.234rem;
}

.listSoftSkills {
    list-style: none;
    line-height: 1.685rem;
    
}

