
.skills-sub-content {
     display: flex;
     flex-direction: row;
     max-width: 100%;
     height: auto;
}

.skills-sub-content > .hard-skills {
        display: flex;
        flex-direction: column;
        max-width: 50%;
        height: auto;
        gap: .65rem;
        padding: 1.233rem;
}

.skills-sub-content > .hard-skills > h2 {
    font-weight: 700;
    font-size: 1.234rem;
}

.skills-sub-content > .hard-skills > .img-skills {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 1.685rem;
}

.skills-sub-content > .soft-skills {
    display: flex;
        flex-direction: column;
        max-width: 50%;
        height: auto;
        gap: .65rem;
        justify-content: center;
}

.skills-sub-content > .soft-skills > h2 {
    font-weight: 700;
    font-size: 1.234rem;
}

.skills-sub-content > .soft-skills > .list-soft-skills {
    list-style: none;
    line-height: 1.685rem;
}